.hidden {
    display:none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a:link, a:visited {
    color: #9E9E9E;
}

div#copyright {
    display: inline;
    margin-right: 5pt;
}

div#socials {
    display: inline;
}

div#footer_wrap {
    /*margin-left: calc((100% - 1200px) / 2.0);*/
    position: fixed;
    min-width: 1200px;
    width: calc(100% - 40px);
    bottom: 0px;
}
div#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9E9E9E;
    height: 30pt;
    font-size: 1.0em;
}
div#footer div {
    margin-bottom: 10px;
    margin-top: 0;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #CFD8DC;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #212121;
    overflow: hidden;
}

div#content {
    margin: auto;
    margin-bottom: 50px;
}

div#game {
}

div#game_content {
    display: flex;
    height: 800px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

canvas {
    border: 1px solid #37474F
}

div#right_column {
    font-size: 1.5em;
    margin-left: 25px;
    height: 100%;
    min-width: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: stretch;
}
@media only screen and (max-width: 1350px) {
    div#right_column {
        display: none;
    }
}

div.flex-item {
    margin-top: 10px;
}

div#room {
    margin-top: 10px;
}

div#players {
    border: 2px solid #37474F;
    flex: 1;
}

.player_entry_wrapper {
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-bottom: solid 2px #37474F;
    display: flex;
    justify-content: space-between;
}

.player_entry {
}

.player_score {
}

div#chat {
    border: 2px solid #37474F;
    flex: 1;
}

div.screen {
    margin: auto;
    margin-top: 20px;
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

div#start {
    font-size: 2em;
    width: 100%;
}

div#playing {
    max-width: 90vh;
}

form#join_form {
    margin: auto;
    margin-bottom: 5px;
}

div#join_error {
    color: #E65100;
    font-size: 0.7em;
    margin: auto;
    margin-top: 5px;
}

span.host {
    color: #BDBDBD;
    font-weight: 700;
}

p.small_margin {
    margin-bottom: 5px;
}

button {
    display: block;
    width: 100%;
    font-size: 0.8em;
    border-radius: 0;
    color: #CFD8DC;
    background-color: #263238;
    border:1px solid #37474F;
    margin: 0;
    padding: 10px;
}
button:hover {
    color: #E65100;
}

form:invalid button,
button:disabled,
button[disabled] {
    color: #263238;
    background-color: #757575;
}

input {
    height: 50px;
    width: 300px;
    font-size: 0.8em;
    border-radius: 0;
    border:1px solid #37474F;
    background-color: #263238;
    color: #BDBDBD;
    padding: 10px;
    margin-left: 20px;
}

